<ion-header>
  <ion-toolbar>
      <ion-buttons slot="secondary">
          <ion-button (click)="cancel()">
              Cancel
          </ion-button>
      </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="validateThenApply($event)" [attr.disabled]="!ready">
            Submit
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <error-component [error]="error" [showButton]="showTryAgainBtn" (tryAgainSelected)="apply($event)"></error-component>

    <!-- INPUTS -->
    <ion-item [hidden]="!ready" lines="none">
      <ion-label position="stacked" style="font-size:120%;color:gray;">Name</ion-label>
      <input type="text" [(ngModel)]="wallet.name" placeholder="Enter name">
    </ion-item>


    <!-- CURRENCY -->
    <currency-component [hidden]="!ready" [currency]="wallet.currency" 
      (selectedCurrency)="selectedCurrency($event)" (errored)="componentError($event)">
    </currency-component>

</ion-content>
