<ion-header>
  <ion-toolbar style="color:white;">
      <ion-buttons slot="start">
          <!-- https://github.com/ionic-team/ionic/issues/17421 -->
          <!-- POST ID: 442623641 commented -->
          <!-- Works with or without routerDirection="back" not sure why or if it is needed -->
          <ion-back-button defaultHref="" routerLink="/tabs/tab3" routerDirection="back"></ion-back-button>
      </ion-buttons>
    <ion-title>Terms of Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="color:gray;font-family:arial;">
  <!-- TERMS -->
  <div style="color:dimgray;" [innerHTML]="termsHTML" padding></div>
</ion-content>
