<ion-header>
    <!-- #9370DB -->
    <ion-toolbar color="dummy-to-envoke-style" style="color:white;background-color:#7044ff;">
      <ion-title>
        Charts
      </ion-title>
      <ion-button fill="clear" slot="end" (click)="presentFilterModal($event)">
          <ion-icon name="funnel" style="font-size:200%;color:white;"></ion-icon>
        </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  
  
    <!-- REFRESHER -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner=""
        refreshingText="">
      </ion-refresher-content>
    </ion-refresher>
  
  
  

    <!-- LIST SUMMARY -->
    <div>
        <ion-item-divider style="border-bottom:1px solid lightgrey;">
            <div slot="start" fill="clear" (click)="presentFilterModal($event)" 
                style="margin-left:-5px;font-size:120%;color:black;">
              {{filter.tag}}
            </div>
            <ion-label slot="start" style="color:dimgray;margin-right:24px;">
                <span [hidden]="loading" class="cnt"> &nbsp;({{cntTotal}})</span>
            </ion-label>
            <ion-label slot="end" style="font-size:120%;color:black;margin-right:24px;">
                <span [hidden]="loading">{{total}}</span>
            </ion-label>
        </ion-item-divider>
        <!-- DATE RANGE -->
        <div style="background-color:#7044ff;text-align:center;color:white;padding:4px 2px 4px 2px;" 
            *ngIf="filter.range.startDisplay">
          {{filter.range.startDisplay}} - {{filter.range.endDisplay}}
        </div>
    </div>


  

    <canvas style="margin-top:20px;" id="myChart" width="400" height="400"></canvas>

    

  </ion-content>
