div{
    width:100%;
}

ion-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ion-button{
    width:110px;
    color:white;
    font-weight:bold;
}

ion-icon{
    font-size:180%; 
}

.slide {
    //background: var(--ion-color-primary);
    //color: var(--ion-color-primary-contrast);
    height: 100vh;
    color:dimgrey;
}
