<ion-tabs>
  <!-- If the wallet is missing hide wallet name, queries will guide user to correct the problem -->
  <div *ngIf="wallet" style="background-color:#9370DB;text-align:center;color:white;">
    <span [hidden]="backend.name ==='Prod'" style="float:left;">{{backend.name}} </span>
    {{wallet.name}}
  </div>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="cart"></ion-icon>
      <ion-label style="font-size:150%;font-weight:bold;">Expenses</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="tab4">
        <ion-icon name="stats"></ion-icon>
        <ion-label style="font-size:150%;font-weight:bold;">Overview</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="search"></ion-icon>
      <ion-label style="font-size:150%;font-weight:bold;">Search</ion-label>
    </ion-tab-button>

    

    <ion-tab-button tab="tab3">
      <ion-icon name="cog"></ion-icon>
      <ion-label style="font-size:150%;font-weight:bold;">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>



