<ion-tabs>
  <div style="background-color:#9370DB;text-align:center;color:white;">{{wallet.name}} - {{wallet.owner_name}}</div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="cart"></ion-icon>
      <ion-label style="font-size:150%;font-weight:bold;">Expenses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="add-circle" style="color:#9370DB;font-size:500%;"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="cog"></ion-icon>
      <ion-label style="font-size:150%;font-weight:bold;">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  

</ion-tabs>

<!-- fab placed to the top end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button disabled color="danger" size="small">
      {{backend.name}}
    </ion-fab-button>
    
  </ion-fab>
