<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button (click)="cancel()">
                Cancel
            </ion-button>
        </ion-buttons>
      <ion-title>{{title}}</ion-title>
      <ion-buttons slot="primary">
          <ion-button (click)="submit($event)" [attr.disabled]="1 != 1">
              Submit
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    



<ion-content padding>
    <ion-list>

        <!-- CAT -->

        <ion-item id='catPopoverBtn' slot="start" (click)="showCategories($event)">
            <div type="cssDiv" >
                <div>Category</div>
                <ion-icon style="font-size:300%;" name="list-box" color="primary"></ion-icon>
            </div>
            <span style="margin-left:20px;font-size:120%">{{category.name}}</span>
        </ion-item>
  
  
        
        <!-- AMT -->
        <ion-item>
            <div type="cssDiv" id='catAmt' slot="start">
                <div>Amount</div>
                <ion-icon style="font-size:300%;" name="cash" color="medium"></ion-icon>
            </div>
            
          <input type="number" #amtInput placeholder="Enter amount">
        </ion-item>


        <!-- DATE -->
        <ion-item>
          <div type="cssDiv" id='catDate' slot="start">
                <div>Date</div>
                <ion-icon style="font-size:300%;" name="calendar" color="primary"></ion-icon>
          </div>
          <ion-datetime value="{{dateDefault}}" (ionChange)="dateChanged($event)" placeholder="Select Date"
          display-format="MMMM-DD-YYYY" picker-format="MMMM-DD-YYYY"></ion-datetime>
        </ion-item>



        <!-- VENDOR -->
        <ion-item>
            <div type="cssDiv" id='catPopoverBtn' slot="start" (click)="showCategories($event)">
                <div>Vendor</div>
                <ion-icon style="font-size:300%;" name="filing" color="primary"></ion-icon>
                <div>(optional)</div>
          </div>
          <input type="text" #vendorInput placeholder="Enter/select vendor">
        </ion-item>


        <!-- NOTE -->
        <ion-item>
            <ion-textarea value="{{note}}" rows=5 placeholder="Enter a note here (optional)" spellcheck=true></ion-textarea>
          </ion-item>
      
      </ion-list>
    
</ion-content>
