

<ion-header [hidden]="!hideCatPicker || !hideVendorPicker">
  <ion-toolbar>
      <ion-buttons slot="secondary">
          <ion-button (click)="cancel()">
              Cancel
          </ion-button>
      </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="submit($event)" [attr.disabled]="1 != 1">
            Save
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- HEADER CATEGORY PICKER -->
<ion-header [hidden]="hideCatPicker">
  <ion-toolbar>
      <ion-title>Select a Category</ion-title>
    <ion-buttons slot="primary">
        <ion-icon name="close" (click)="hideCategories($event)"
        style="float:right;font-size:200%;margin-right:20px;margin-top:-7px;cursor:pointer;">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- HEADER VENDOR PICKER -->
<ion-header [hidden]="hideVendorPicker">
    <ion-toolbar>
        <ion-title>Vendors List</ion-title>
      <ion-buttons slot="primary">
          <ion-icon name="close" (click)="hideVendors($event)"
          style="float:right;font-size:200%;margin-right:20px;margin-top:-7px;cursor:pointer;">
        </ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>




    
<ion-content padding
    [scrollEvents]="true"
    (ionScrollStart)="logScrollStart()"
    (ionScroll)="logScrolling($event)"
    (ionScrollEnd)="logScrollEnd()">


    <error-component [error]="error" [showButton]="showTryAgainBtn" (tryAgainSelected)="submit($event)"></error-component>
    
    <categories-component [hidden]="hideCatPicker"
      (selected)="categorySelected($event)"
      (errored)="componentError($event)">
    </categories-component>

    <vendors-component [hidden]="hideVendorPicker"
      [category]="category"
      (selected)="vendorSelected($event)">
    </vendors-component>


    <ion-list [hidden]="!hideCatPicker || !hideVendorPicker || !ready">

        <!-- CAT -->
        <ion-item id='catPopoverBtn' slot="start" (click)="showCategories($event)">
            <div type="cssDiv" >
                <div>Category</div>
                <ion-icon icon name="list-box" color="primary"></ion-icon>
            </div>
            <span style="margin-left:20px;font-size:120%">{{category.name}}</span>
        </ion-item>
  
  
        
        <!-- AMT -->
        <ion-item id='catAmt' slot="start" (click)="toggleKeypad($event)">
          <div type="cssDiv">
              <div>Amount</div>
              <ion-icon icon name="cash" color="primary"></ion-icon>
              <!--ion-icon style="font-size:300%;" name="cash" color="medium"></ion-icon-->
          </div>

          <!-- type="number"   inputmode="numeric"    pattern="\d*"  pattern="[\d\.]*"   pattern="[\d]*"   pattern="[0-9]*"   -->
          <!---input type="number" #inputAmt [(ngModel)]="amt" placeholder="Enter amount" (keypress)="onKeyPress($event)"-->
          <div style="font-size:x-large;padding-left:30px;">{{amt}}</div>
          <div slot="end" style="color:dimgray;font-weight:bold;">
            <span style="margin-left:15px;">Credit</span>
              <br>
            <ion-toggle color="danger" [(ngModel)]="credit" slot="end" value="credit"></ion-toggle>
          </div>
        </ion-item>

        <div [hidden]="hideKeypad" style="text-align:center;">
            <div>
              <ion-button keys size="large" (click)="keyPadPress(1)">1</ion-button>
              <ion-button keys size="large" (click)="keyPadPress(2)">2</ion-button>
              <ion-button keys size="large" (click)="keyPadPress(3)">3</ion-button>
            </div>
            <div>
              <ion-button keys size="large" (click)="keyPadPress(4)">4</ion-button>
              <ion-button keys size="large" (click)="keyPadPress(5)">5</ion-button>
              <ion-button keys size="large" (click)="keyPadPress(6)">6</ion-button>
            </div>
            <div style="text-align:center;">
              <ion-button keys size="large" (click)="keyPadPress(7)">7</ion-button>
              <ion-button keys size="large" (click)="keyPadPress(8)">8</ion-button>
              <ion-button keys size="large" (click)="keyPadPress(9)">9</ion-button>
            </div>
            <div style="text-align:center;">
              <ion-button keys size="large" (click)="keyPadPress('.')">.</ion-button>
              <ion-button keys size="large" (click)="keyPadPress(0)">0</ion-button>
              <ion-button keys size="large" (click)="keyPadPress('b')"><ion-icon name="backspace"></ion-icon></ion-button>
            </div>
        </div>


        <!-- DATE -->
        <!-- Do not put the showDatePicker() click on hte ion-item or you get two clicks if the 
             user clicks on th ion-datetime -->
        <ion-item>
          <div type="cssDiv" slot="start"  (click)="showDatePicker($event)">
                <div>Date</div>
                <ion-icon style="font-size:300%;" name="calendar" color="primary"></ion-icon>
          </div>
          <ion-datetime #datePicker value="{{dateDefault}}" (ionChange)="dateChanged($event)" placeholder="Select Date"
            display-format="MMMM DD, YYYY,  DDDD" picker-format="MMMM-DD-YYYY"></ion-datetime>
        </ion-item>



        <!-- VENDOR -->
        <ion-item [disabled]="!category.id">
            <div type="cssDiv" slot="start" (click)="showVendors($event)">
                <div>Vendor</div>
                <ion-icon style="font-size:300%;" name="filing" color="primary"></ion-icon>
                <div>(optional)</div>
          </div>
          <input type="text" [(ngModel)]="vendor" placeholder="Enter/select vendor">
        </ion-item>


        <!-- NOTE -->
        <ion-item>
            <ion-textarea [(ngModel)]="note" rows=5 placeholder="Enter a note here (optional)" spellcheck=true></ion-textarea>
          </ion-item>
      
      </ion-list>
    
</ion-content>
