<ion-header>
  <ion-toolbar>
      <ion-buttons slot="secondary">
          <ion-button (click)="cancel()">
              Cancel
          </ion-button>
      </ion-buttons>
    <ion-title>Delete Expense</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="presentAlertConfirm()">
            Delete
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  
  <ion-content padding>

      <error-component [error]="error" [showButton]="true" (tryAgainSelected)="presentAlertConfirm()"></error-component>


      <ion-list [hidden]="!ready">
          <ion-item padding>
              <ion-label style="font-size:medium;color:gray;">Are you sure you want to delete this expense?</ion-label>
          </ion-item>

          
          <ion-item>
            <div slot="start" style="width:100px;">Category:</div>
            <ion-label color="medium" style="font-size:large;">{{category.name}}</ion-label>
          </ion-item>
          <ion-item>
            <div slot="start" style="width:100px;">Date:</div>
            <ion-label color="medium" style="font-size:large;">{{expense.dttm}}</ion-label>
          </ion-item>  
          <ion-item>
            <div slot="start" style="width:100px;">Amount:</div>
            <ion-label color="medium" style="font-size:large;">{{expense.amt}}</ion-label>
          </ion-item>
          <ion-item>
            <div slot="start" style="width:100px;">Vendor:</div>
            <ion-label color="medium" style="font-size:large;">{{expense.vendor}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label text-wrap color="medium" style="font-size:large;">{{expense.note}}</ion-label>
          </ion-item>
      </ion-list>

  
</ion-content>
  