<ion-header>
    <ion-toolbar>
      <ion-searchbar mode="md" style="background-color:gray;font-size:200%;" (ionChange)="startSearch($event)" debounce="800">
      </ion-searchbar>
      <!-- SEARCH SUMMARY -->
      <div style="text-align:center;color:white;">Found: {{totalCount}} <span [hidden]="totalCount == 0">- Showing: {{skip+1}} - {{skip+50}}</span></div>

    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
  
    <!-- REFRESHER -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner=""
        refreshingText="">
      </ion-refresher-content>
    </ion-refresher>
  

    <!-- LOADING  & ERROR-->
    <loading-component [loading]="loading"></loading-component>
    <error-component [error]="error" [showButton]=true (tryAgainSelected)="tryAgain($event)"></error-component>

  
    <!-- LIST -->
    <ion-list [hidden]="error || loading">
  
      
  
        
  
        <ion-button color="medium" expand="full" fill="solid" (click)="getLess()" [hidden]="skip == 0 || !showButtons">
          <ion-icon style="transform: scale(2);" name="arrow-dropup"></ion-icon>
        </ion-button>
  
  
        <div [hidden]="!ready" *ngFor="let item of expenses; index as i;">
            <ion-item-divider class="dateDivider" [hidden]="!item.d">
                {{item.d}}
            </ion-item-divider>
              <ion-item-sliding>

                  <ion-item class="pointer" (click)="presentUpsertModal(item)" detail>

                      <span slot="start">{{i+skip+1}}</span>

                      <ion-label class="name">{{item.c_name}}
                        <br><span class="dttm">{{item.vendor}}</span>
                        <br><span class="dttm">{{item.note}}</span> 
                      </ion-label>
                      
                      <ion-label class="amt" [class.negative]="item.amt < 0">{{item.amtDisplay}}</ion-label>
                  </ion-item>
                  <ion-item-options side="start">
                      <!--ion-item-option style="width:75px;" (click)="presentUpsertModal(item, 'edit')">Edit</ion-item-option-->
                      <ion-item-option style="width:75px;" color="danger" (click)="presentDeleteModal(item)">Delete</ion-item-option>
                  </ion-item-options>
              </ion-item-sliding>
        </div>
  
        <ion-button color="medium" expand="full" fill="solid" (click)="getMore()" [hidden]="(skip+50) >= totalCount || !showButtons">
          <ion-icon style="transform: scale(2);" name="arrow-dropdown"></ion-icon>
        </ion-button>
    </ion-list>
  
  
    

  </ion-content>
