<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button (click)="cancel()">
                Cancel
            </ion-button>
        </ion-buttons>
      <ion-title>Delete Category</ion-title>
      <ion-buttons slot="primary">
          <ion-button (click)="apply()" [attr.disabled]="!radioSelection">
              Delete
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content padding>
      <!-- DISPLAY ENTRY ERROR -->
      <div [hidden]="!errorDisplayEntry && radioSelection == 'delete'" style="color:red;">
          {{errorDisplayEntry}}
      </div>
          

      <ion-list [hidden]="loading || errorDisplay">
          <!-- MESSAGES -->
          <ion-item>
              <div style="font-size:large;">{{category.name}}</div>
          </ion-item>
          <ion-item padding>
              <div style="font-size:medium;color:gray;">Are you sure you want to delete this category? Proceed by selecting a  
                <b>Delete Option</b> shown below.</div>
          </ion-item>

      </ion-list>


  
      <div [hidden]="loading || errorDisplay">
        
              <ion-list-header>
                <ion-label>Delete Options</ion-label>
              </ion-list-header>
          

              <ion-radio-group [(ngModel)]="radioSelection" (ionChange)="radioChanged($event)">
                <ion-item style="color:gray;border:1px solid gray;border-radius:3px;padding:5px 5px 5px 5px;">
                    <div>This category has <span style="font-weight:bold;">{{transactionCnt}}</span>
                      expense entries associated with it. Selecting this option will also delete the expense items.</div>
                    <ion-radio slot="start" mode="md" value="delete"></ion-radio>
                </ion-item>
            
    

                <ion-item style="color:gray;border:1px solid gray;border-radius:3px;padding:5px 5px 5px 5px;margin-top:10px;">
                    <div>With this option you can move the <span style="font-weight:bold;">{{transactionCnt}}</span> expense items to another
                        category prior to deleting this category.</div>
                    <ion-radio slot="start" mode="md" value="move"></ion-radio>
                </ion-item>
              </ion-radio-group>

   
            
              <!--ion-list-header>Select Category</ion-list-header-->
              <ion-item [hidden]="radioSelection == 'delete' || radioSelection == null">
                <ion-label>Move to Category</ion-label>
                <ion-select value="0" [(ngModel)]="moveTo" okText="Okay" cancelText="Dismiss">
                  <ion-select-option value="{{item.id}}"  *ngFor="let item of categoriesList; index as i;">{{item.name}}</ion-select-option>

                </ion-select>
              </ion-item>
                  
      </div>


  
    

    <!-- ERROR -->
    <!-- @TODO MAKE THIS A COMPONENT FOR ALL PAGES -->
    <div [hidden]="!errorDisplay" padding>
      <ion-card-header style="text-align:center;">
        <ion-card-title style="color:gray;">{{errorDisplay}}</ion-card-title>
      </ion-card-header>
      <ion-item lines="none" style="color:gray;border:solid 1px gray;padding:15px 5px 15px 5px;border-radius: 5px;">
        There was an issue getting data from the servers. Many things could cause this including an internet disconnect. 
        <br><br>Please "Cancel" this operation using the Cancel button above and try again.
      </ion-item>
    </div>
    
    <!-- LOADING -->
    <!-- @TODO MAKE THIS A COMPONENT FOR ALL PAGES -->
    <div [hidden]="!loading" style="margin-top:100px;">
      <ion-card-header style="text-align:center;">
        <ion-card-subtitle style="font-size:large;">Please wait...</ion-card-subtitle>
        <ion-card-title><ion-spinner name="dots" style="transform: scale(2);"></ion-spinner></ion-card-title>
      </ion-card-header>
    </div>
  
  </ion-content>
  