.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.amt{
  color:gray;
  text-align:right;
  margin-right:20px;
}

.name{
  color:grayscale($color: #667878);
  font-weight:bold;
}

.cnt{
  color:gray;
  font-weight:normal;
  font-size:small;
}





.dttm{
color:grayscale($color: #667878);
font-weight:normal;
}



.dateDivider{
margin-top: 0px;
min-height: 20px!important;
color:dimgray;
background-color:#F0F0F0;
border-top:solid 1px lightgrey;
}

.pointer{
  cursor:pointer;
}