<ion-header>
  <!-- #9370DB -->
  <ion-toolbar color="dummy-to-envoke-style" style="color:white;background-color:#7044ff;">
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>

  <!-- USER -->
  <ion-item-divider style="font-size:120%;background-color:lightgrey;">
    <ion-label style="color:black;">
      User
    </ion-label>
    <ion-button slot="end" (click)="logout()" fill="outline">Logout</ion-button>
  </ion-item-divider>
  <!-- EMAIL -->
  <ion-item-sliding>
    <ion-item detail>
        <ion-label style="color:dimgray;font-size:120%;">{{user.email}}</ion-label>
    </ion-item>
  <ion-item-options side="start">
      <ion-item-option style="width:75px;" (click)="presentEmailModal($event)">Edit</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!-- NAME -->
  <ion-item-sliding>
    <ion-item detail>
        <ion-label style="color:dimgray;font-size:120%;">{{user.name || 'No name entered'}}</ion-label>
    </ion-item>
  <ion-item-options side="start">
      <ion-item-option style="width:75px;" (click)="presentNameModal($event)">Edit</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>





<!-- WALLETS -->
  <ion-item-divider style="font-size:120%;background-color:lightgrey;">
      <ion-label style="color:black;">
          Wallets
      </ion-label>
      <ion-button slot="end" color="primary" fill="outline">Set Current</ion-button>
      <ion-button slot="end" color="primary" fill="outline">Add</ion-button>
  </ion-item-divider>

  <ion-item-sliding *ngFor="let item of user.wallets; index as i;">
    <ion-item detail>
        <ion-icon name="checkmark" color="primary" slot="end" 
          [hidden]="wallet.default_wallet != item.default_wallet || user.id != item.owner_id">
        </ion-icon>


        <ion-label style="color:dimgray;font-size:120%;">{{item.name}}</ion-label>
        <div style="color:dimgray;font-size:small;" slot="end">{{item.owner_name}}</div>
    </ion-item>
    <ion-item-options side="start">
        <ion-item-option style="width:75px;" (click)="presentWalletEditModal($event)">Edit</ion-item-option>
        <ion-item-option style="width:75px;" (click)="presentWalletDeleteModal($event)" color="danger" [hidden]="item.default_wallet == 1">Delete</ion-item-option>
    </ion-item-options>

  </ion-item-sliding>





  <ion-item-divider style="color:black;font-size:120%;background-color:lightgrey;">
      <ion-label>
          General
      </ion-label>
  </ion-item-divider>

  <ion-item detail>
      <ion-label style="color:dimgray;font-size:120%;">Subscription </ion-label>
      <div style="color:dimgray;font-size:medium;" slot="end">{{user.sub_expires | date }}</div>
  </ion-item>

  <ion-item detail>
      <ion-label style="color:dimgray;font-size:120%;">Currency Format </ion-label>
      <div style="color:dimgray;font-size:medium;" slot="end">{{currencyDisplay | number:wallet.currency.percision}}</div>
  </ion-item>

  <!-- TERMS -->
  <ion-item detail [routerLink]="['/term']">
      <ion-label style="color:dimgray;font-size:120%;">Terms of Service</ion-label>
  </ion-item>

</ion-list>




    
    <!-- DISPLAY ERROR -->
    <ion-item [hidden]="!errorDisplay" style="margin-top:20px;color:red;">
        {{errorDisplay}}
    </ion-item>
    
</ion-content>
