.section{
    color:black;
    font-size:x-large;
    font-weight:bold;
}

.activeWallet{
    color:#3880ff;
    font-weight:bold;
    font-size:120%;
}
  
.inActiveWallet{
    color:dimgray;
    font-weight:normal;
    font-size:120%;
}