<ion-header>
  <ion-toolbar>
      <ion-buttons slot="secondary">
          <ion-button (click)="cancel()">
              Cancel
          </ion-button>
      </ion-buttons>
    <ion-title>Delete Wallet</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="presentAlertConfirm()">
            Delete
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  
  <ion-content padding>

      <error-component [error]="error" [showButton]="true" (tryAgainSelected)="presentAlertConfirm()"></error-component>


      <ion-list [hidden]="!ready">

          <ion-item>
              <div style="width:100%;font-size:x-large;font-weight:bold;text-align:center;">{{wallet.name}}</div>
          </ion-item>

          <p padding style="font-size:large;color:gray">
            Deleting a wallet will delete all the expense records associated with it. This action cannot be reversed.
          </p>


      </ion-list>

  
</ion-content>
  