<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button (click)="cancel()">
                Cancel
            </ion-button>
        </ion-buttons>
      <ion-title>Update Name</ion-title>
      <ion-buttons slot="primary">
          <ion-button (click)="apply($event)">
              Submit
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

  <ion-content padding>

    <error-component [error]="error" [showButton]="showTryAgainBtn" (tryAgainSelected)="apply($event)"></error-component>

    <!-- INPUTS -->
    <ion-item style="margin-top:50px;">
      <ion-label position="stacked" style="font-size:120%;color:gray;">Name</ion-label>
      <input type="text" [(ngModel)]="user.name" placeholder="Enter name">
    </ion-item>
  

  </ion-content>