<ion-header>
  <ion-toolbar>
      <ion-buttons slot="secondary">
          <ion-button (click)="cancel()">
              Cancel
          </ion-button>
      </ion-buttons>
    <ion-title>Delete Category</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="presentAlertConfirm()" [attr.disabled]="!radioSelection && transactionCnt > 0">
            Delete
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  
  <ion-content padding>

      <error-component [error]="error" [showButton]="showTryAgainBtn" (tryAgainSelected)="tryAgain($event)"></error-component>

          
      <ion-list [hidden]="!ready">
          <!-- MESSAGES -->
          <ion-item>
              <div style="width:100%;font-size:x-large;font-weight:bold;text-align:center;">{{category.name}}</div>
          </ion-item>
          <ion-item padding [hidden]="transactionCnt == 0">
              <div style="font-size:medium;color:gray;"> 
                <span>Proceed by selecting a  
                <b>Delete Option</b> shown below.</span></div>
          </ion-item>

          <ion-item padding  [hidden]="transactionCnt != 0">
              <div style="font-size:medium;color:gray;"> 
                <span>There are no transactions associated with this category.</span></div>
          </ion-item>

      </ion-list>



  
      <div [hidden]="!ready || transactionCnt == 0">
        
              <ion-list-header>
                <ion-label>Delete Options</ion-label>
              </ion-list-header>
          

              <ion-radio-group [(ngModel)]="radioSelection" (ionChange)="radioChanged($event)">
                <ion-item style="color:gray;border:1px solid gray;border-radius:3px;padding:5px 5px 5px 5px;">
                    <div>This category has <span style="font-weight:bold;">{{transactionCnt}}</span>
                      expense entries associated with it. Selecting this option will also delete the expense entries.</div>
                    <ion-radio slot="start" mode="md" value="delete"></ion-radio>
                </ion-item>
            
    

                <ion-item style="color:gray;border:1px solid gray;border-radius:3px;padding:5px 5px 5px 5px;margin-top:10px;">
                    <div>With this option you can move the <span style="font-weight:bold;">{{transactionCnt}}</span> expense entries to another
                        category prior to deleting this category.</div>
                    <ion-radio slot="start" mode="md" value="move"></ion-radio>
                </ion-item>
              </ion-radio-group>

   
            
              <!--ion-list-header>Select Category</ion-list-header-->
              <ion-item [hidden]="radioSelection == 'delete' || radioSelection == null">
                <ion-label>Move to Category</ion-label>
                <ion-select value="0" [(ngModel)]="moveTo" okText="Okay" cancelText="Dismiss">
                  <ion-select-option value="{{item.id}}"  *ngFor="let item of categoriesList; index as i;">{{item.name}}</ion-select-option>

                </ion-select>
              </ion-item>
                  
      </div>


  
  </ion-content>
  