

<ion-content>

       
        <ion-segment padding (ionChange)="segmentChanged($event)" [hidden]="segment=='percision'">
          <ion-segment-button value="login" checked>
            <ion-label>Login</ion-label>
          </ion-segment-button>
          <ion-segment-button value="terms">
            <ion-label>Terms of Service</ion-label>
          </ion-segment-button>
        </ion-segment>
              
    
    <div [hidden]="!error" padding style="text-align:center;color:red;margin-top:20px;">{{error}}</div>
    <div [hidden]="!errorSupport" padding style="text-align:center;color:dimgray;margin-top:5px;">
        Please make sure your internet connection is working. If this issue persists please email supportme@pupmoney.com.
    </div>
      

  <ion-list [hidden]="segment != 'login'" padding lines="none" style="max-width:400px;margin:0 auto;">
      <ion-item style="margin:0 auto;">
          <img style="margin:0 auto;width:50%;" src="/assets/puppy-512.png">
      </ion-item>
      <ion-item>
          <h1 style="margin:0 auto;color:darkslateblue;">PupMoney Login</h1>
      </ion-item>

      

        <!-- INPUTS -->
        <ion-item [hidden]="codeReady">
            <ion-input name="email" [(ngModel)]="email" style="border-bottom:1px solid gray;font-size:120%;"
            required type="email" placeholder="Enter email"></ion-input>
        </ion-item>
        <ion-item [hidden]="!codeReady">
            <ion-input [(ngModel)]="code" style="margin-top:20px;border-bottom:1px solid gray;font-size:120%;" required type="number" placeholder="Enter code here"></ion-input>
        </ion-item>
        <ion-item [hidden]="!codeReady">
            <p style="font-size:medium;color:gray;">Please enter the code emailed to you.</p>
        </ion-item>

        <!-- TERMS -->
        <ion-item [hidden]="!codeReady">
            <ion-label>I agree to the Terms of Service</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="terms"></ion-checkbox>

        </ion-item>


        <!-- BUTTONS -->
        <ion-item [hidden]="codeReady">
            <ion-button style="margin:0 auto;margin-top:20px;" expand="block" size="medium" color="primary" (click)="next();">
                Next <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item [hidden]="!codeReady">
            <ion-button style="margin:0 auto;margin-top:20px;" expand="block" size="medium" color="tertiary" (click)="back();">
                    <ion-icon slot="start" name="arrow-round-back"></ion-icon> Back
            </ion-button>
            <ion-button style="margin:0 auto;margin-top:20px;" [disabled]="!terms"  expand="block" size="medium" color="primary" (click)="login();">
                Login
            </ion-button>
        </ion-item>



        <ion-item [hidden]="codeReady">
            <p style="color:gray;margin:0 auto;margin-top:20px;">We don't use passwords. We'll send a code to your email address that allows your access.</p>
        </ion-item>

  </ion-list>

  <!-- CURRENCY -->
  <div [hidden]="segment != 'percision'">
      <ion-button expand="block" size="medium" color="primary" (click)="setCurrency($event);">
          Continue
      </ion-button>
        <p padding>
            Welcome to PupMoney. Your account has been created. To get started we have created a "Default Wallet" for your expenses. 
            You can add more Wallets later as well.
        </p>
        <p padding style="margin-top:-30px;">
            Please tell us how you want to view the numbers (currency) in your Default Wallet. You can change this later in the Settings tab.
        </p>
        <currency-component style="margin-top:-90px;" [currency]="defaultWallet.currency" 
          (selectedCurrency)="selectedCurrency($event)" (errored)="componentError($event)">
        </currency-component>
  </div>
  




<!--div [hidden]="segment!='percision'" style="color:dimgray;" padding>
    <p>
        Welcome to PupMoney. To get started we have created a "Default Wallet" for your expenses. You can add more wallets later as well.
    </p>
    <p>
        Please tell us how you want to view the numbers (currency) in your default wallet. You can change this later in the Settings tab.
    </p>


    <ion-list>
            <ion-radio-group mode="md" [(ngModel)]="curId">
          
              <ion-item>
                <ion-label>1,234</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
                <span slot="end">(Yen - no decimals)</span>
              </ion-item>
          
              <ion-item>
                <ion-label>1,234.1</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
                <span slot="end">(one decimal)</span>
              </ion-item>
          
              <ion-item>
                <ion-label>1,234.12</ion-label>
                <ion-radio slot="start" value="2">USD</ion-radio>
                <span slot="end">(US Dollars, Euros - two decimals)</span>
              </ion-item>

              <ion-item>
                <ion-label>1,234.123</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
                <span slot="end">(three decimals)</span>
              </ion-item>

              <ion-item>
                <ion-label>1,234.1234</ion-label>
                <ion-radio slot="start" value="4"></ion-radio>
                <span slot="end">(four decimals)</span>
              </ion-item>


              <ion-item>
                  <ion-label>1,234</ion-label>
                  <ion-radio slot="start" value="5"></ion-radio>
                  <span slot="end">(no decimals)</span>
                </ion-item>

              <ion-item>
                <ion-label>1,234.1</ion-label>
                <ion-radio slot="start" value="6"></ion-radio>
                <span slot="end">(one decimals)</span>
              </ion-item>

              <ion-item>
                <ion-label>1,234.12</ion-label>
                <ion-radio slot="start" value="7"></ion-radio>
                <span slot="end">(two decimals)</span>
              </ion-item>

              <ion-item>
                <ion-label>1,234.123</ion-label>
                <ion-radio slot="start" value="8"></ion-radio>
                <span slot="end">(three decimals)</span>
              </ion-item>

              <ion-item>
                <ion-label>1.234,1234</ion-label>
                <ion-radio slot="start" value="9"></ion-radio>
                <span slot="end">(four decimals)</span>
              </ion-item>

            </ion-radio-group>
          </ion-list>

        <ion-button style="margin:0 auto;margin-top:20px;"  expand="block" size="medium" color="primary" (click)="setCurrency($event);">
            Submit
        </ion-button>

</div-->



  <!-- TERMS -->
  <div [hidden]="segment!='terms'" style="color:dimgray;" [innerHTML]="termsHTML" padding></div>

</ion-content>


