<ion-header>
  <ion-toolbar>
      <ion-buttons slot="secondary">
          <ion-button (click)="cancel()">
              Cancel
          </ion-button>
      </ion-buttons>
    <ion-title>Filter Expenses</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="apply()">
            Apply
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-list [style.border]="'solid 2px gray'" [style.border-radius]="'5px'">

      <ion-radio-group (ionChange)="changed($event)" [(ngModel)]="filter.tag">
          <!-- THIS MONTH -->
          <ion-item #thisMonth >
              <ion-radio slot="end" value="btnThisMonth" (ionSelect)="selected($event, 'btnThisMonth', null)"></ion-radio>
              <ion-label>This Month</ion-label>
          </ion-item>
          <!-- PREVIOUS MONTH -->
          <ion-item>
              <ion-radio slot="end" value="btnLastMonth" (ionSelect)="selected($event, 'btnLastMonth', null)"></ion-radio>
              <ion-label>Previous Month</ion-label>
          </ion-item>

          <!-- THIS QUARTER -->
          <ion-item>
              <ion-radio slot="end" value="btnThisQuarter" (ionSelect)="selected($event, 'btnThisQuarter', null)"></ion-radio>
              <ion-label>This Quarter</ion-label>
          </ion-item>
          <!-- PREVIOUS QUARTER -->
          <ion-item>
              <ion-radio slot="end" value="btnLastQuarter" (ionSelect)="selected($event, 'btnLastQuarter', null)"></ion-radio>
              <ion-label>Previous Quarter</ion-label>
          </ion-item>

          <!-- THIS YEAR -->
          <ion-item>
              <ion-radio slot="end" value="btnThisYear" (ionSelect)="selected($event, 'btnThisYear', null)"></ion-radio>
              <ion-label>This Year</ion-label>
          </ion-item>
          <!-- PREVIOUS YEAR -->
          <ion-item>
              <ion-radio slot="end" value="btnLastYear" (ionSelect)="selected($event, 'btnLastYear', null)"></ion-radio>
              <ion-label>Previous Year</ion-label>
          </ion-item>
          <!-- ALL -->
          <ion-item>
              <ion-radio slot="end" value="btnAll" (ionSelect)="selected($event, 'btnAll', null)"></ion-radio>
              <ion-label>All</ion-label>
          </ion-item>

      

      
          <!-- DATE RANGE-->
          <ion-item>
              <ion-radio slot="end" value="btnDateRange" (ionSelect)="selected($event, 'btnDateRange', null)"></ion-radio>
              <ion-label>Date Range
              </ion-label> 
          </ion-item>
          <ion-item [hidden]="hideDateRange" style="color:#3880ff;">
              <ion-label slot="end">Start Date <ion-icon name="arrow-dropdown"></ion-icon></ion-label>
              <ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="filter.range.start" (ionChange)="selected($event, 'btnDateRange', 'start')"></ion-datetime>
          </ion-item>
          <ion-item [hidden]="hideDateRange" style="color:#3880ff;">
              <ion-label slot="end">End Date <ion-icon name="arrow-dropdown"></ion-icon></ion-label>
              <ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="filter.range.end" (ionChange)="selected($event, 'btnDateRange', 'end')"></ion-datetime>
          </ion-item>

      </ion-radio-group>

  </ion-list>




  <!-- SEARCH -->
  <ion-list style="margin-top:40px;border:solid 2px gray;border-radius: 5px;">
      <ion-item>
          <ion-label>Include Text Search</ion-label>
          <ion-toggle slot="start" [(ngModel)]="filter.search.toggle"></ion-toggle>
      </ion-item>
      <ion-item [hidden]="!filter.search.toggle">
          <ion-input [(ngModel)]="filter.search.text" placeholder="Enter search text" autocomplete="true"></ion-input>
      </ion-item>
  </ion-list>



    
</ion-content>
