<ion-header>
  <ion-toolbar color="dummy-to-envoke-style" style="color:white;background-color:#9370DB;">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="" routerDirection="back"></ion-back-button>
      </ion-buttons>
    <ion-title>{{category.name}}</ion-title>

    <ion-button fill="clear" slot="end" (click)="presentFilterModal($event)">
      <ion-icon name="funnel" style="font-size:200%;color:white;"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner=""
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>


  <!-- LIST -->
  <ion-list>

      

      <!-- CATEGORY LIST SUMMARY -->
      <div>
        <ion-item-divider style="border-bottom:1px solid lightgrey;">
            <div slot="start" fill="clear" (click)="presentFilterModal($event)" 
                style="margin-left:-5px;font-size:120%;color:black;">
              {{filter.tag}}
            </div>
            <ion-label slot="start" style="color:dimgray;margin-right:24px;">
                <span [hidden]="loading" class="cnt"> &nbsp;({{totalCount}})</span>
            </ion-label>
            <ion-label slot="end" style="font-size:120%;color:black;margin-right:24px;">{{total | number : '1.2-2'}}</ion-label>
        </ion-item-divider>
        
        <div style="background-color:#9370DB;text-align:center;color:white;padding:4px 2px 4px 2px;" 
            *ngIf="filter.range.startDisplay">
          {{filter.range.startDisplay}} - {{filter.range.endDisplay}}
        </div>
        <div style="background-color:#9370DB;text-align:center;color:white;border-top:solid 1px white;padding:4px 2px 4px 2px;" 
            *ngIf="filter.search.toggle">
          Search: {{filter.search.text}}
        </div>
      </div>


      <!-- LOADING  & ERROR-->
      <loading-component [loading]="loading"></loading-component>
      <error-component [error]="error" [showButton]=true (tryAgainSelected)="tryAgain($event)"></error-component>


      <ion-button color="medium" expand="full" fill="solid" (click)="getLess()" [hidden]="skip == 0 || loading">
        <ion-icon style="transform: scale(2);" name="arrow-dropup"></ion-icon>
      </ion-button>


      <ion-item-sliding [hidden]="!expenses" *ngFor="let item of expenses; index as i;">
        <!-- expense/:id/:vendor/:amt/:dttm/:note/:catId/:catName -->


        <ion-item [routerLink]="['/expense', item.id, item.vendor, item.amt, item.dttm, item.note, category.id, category.name, '/tabs/tab1']" detail>
          <!--ion-icon slot="start" class="icon" name="{{item.icon}}"></ion-icon-->
          <span slot="start">{{i+skip+1}}</span>

          <!-- tab1 -->
          <ion-label [hidden]="isSearch" class="name">{{item.vendor}}
            <br><span class="dttm">{{item.dttm}}</span>
            <br><span class="dttm">{{item.note}}</span> 
          </ion-label>

          <!-- tab2 SEARCH -->
          <ion-label [hidden]="!isSearch" class="name">{{item.c_name}}
            <br><span class="dttm">{{item.vendor}}</span>
            <br><span class="dttm">{{item.dttm}}</span>
            <br><span class="dttm">{{item.note}}</span> 
          </ion-label>

          
          <!--  https://angular.io/api/common/CurrencyPipe -->
          <!-- https://stackoverflow.com/questions/38477970/what-are-the-parameters-for-the-number-pipe-angular-2 -->
          <ion-label class="amt">{{item.amt | number : '1.2-2'}}</ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option style="width:75px;" (click)="presentUpsertModal(item, 'edit')">Edit</ion-item-option>
          <ion-item-option style="width:75px;" color="danger" (click)="presentDeleteModal(item)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-button color="medium" expand="full" fill="solid" (click)="getMore()" [hidden]="(skip+50) >= totalCount || loading">
        <ion-icon style="transform: scale(2);" name="arrow-dropdown"></ion-icon>
      </ion-button>
  </ion-list>


  

  <!-- USING a tab button to match the root tab bar -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-tab-button tab="tab1" (click)="presentUpsertModal(null, 'insert')">
        <ion-icon name="add-circle" style="color:#9370DB;font-size:500%;"></ion-icon>
      </ion-tab-button>
    </ion-fab>
</ion-content>
