<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="" (click)=goBack($event)></ion-back-button>
      </ion-buttons>
    <ion-title>{{category.name}}</ion-title>

    <ion-button fill="clear" slot="end" (click)="presentFilterModal($event)">
      <ion-icon name="funnel" style="font-size:200%;color:white;"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner=""
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>


  <!-- LIST -->
  <ion-list>

      <!-- LIST SUMMARY -->
      <div *ngIf="filter">
          <ion-item-divider style="border-bottom:1px solid lightgrey;">
              <div slot="start" fill="clear" (click)="presentFilterModal($event)" 
                  style="margin-left:-5px;font-size:120%;color:black;">
                {{filter.tag}}
              </div>
              <ion-label slot="start" style="color:dimgray;margin-right:24px;">
                  <span [hidden]="loading" class="cnt"> &nbsp;({{totalCount}})</span>
              </ion-label>
              <ion-label slot="end" style="font-size:120%;color:black;margin-right:24px;" [hidden]="loading">{{total}}</ion-label>
          </ion-item-divider>
          <!-- DATE RANGE -->
          <div style="background-color:#7044ff;text-align:center;color:white;padding:4px 2px 4px 2px;" 
              *ngIf="filter.range.startDisplay">
              {{filter.range.startDisplay}} - {{filter.range.endDisplay}}
          </div>
          <!--div style="background-color:#7044ff;text-align:center;color:white;border-top:solid 1px white;padding:4px 2px 4px 2px;" 
              *ngIf="filter.search.toggle">
            Text Search: {{filter.search.text}}
          </div-->
      </div>


      <!-- LOADING  & ERROR-->
      <loading-component [loading]="loading"></loading-component>
      <error-component [error]="error" [showButton]=true (tryAgainSelected)="tryAgain($event)"></error-component>


      <ion-button color="medium" expand="full" fill="solid" (click)="getLess()" [hidden]="skip == 0 || loading">
        <ion-icon style="transform: scale(2);" name="arrow-dropup"></ion-icon>
      </ion-button>

      <div [hidden]="!ready" *ngFor="let item of expenses; index as i;">
          <ion-item-divider class="dateDivider" [hidden]="!item.d">
              {{item.d}}
          </ion-item-divider>
                <ion-item-sliding>
            
                  <!--ion-item routerLink="/expense" [queryParams] = "{data: {expense:item, category:category, rootTab:'/tabs/tab1'} | json }" 
                    detail routerDirection="forward"-->
                    <ion-item class="pointer" (click)="presentUpsertModal(item)" detail>

                    <span slot="start" style="font-size:90%;color:gray;">{{i+skip+1}}</span>
                    <ion-label class="name">{{item.vendor}}
                      <br [hidden]="item.note" style="height:140px;">
                      <br><span class="dttm">{{item.note}}</span> 
                    </ion-label>
                    
                    <!-- https://angular.io/api/common/CurrencyPipe -->
                    <!-- https://stackoverflow.com/questions/38477970/what-are-the-parameters-for-the-number-pipe-angular-2 -->
                    <ion-label class="amt">{{item.amtDisplay}}</ion-label>
                  </ion-item>
                  <ion-item-options side="start">
                    <!--ion-item-option style="width:75px;" (click)="presentUpsertModal(item, 'edit')">Edit</ion-item-option-->
                    <ion-item-option style="width:75px;" color="danger" (click)="presentDeleteModal(item)">Delete</ion-item-option>
                  </ion-item-options>

                </ion-item-sliding>
      </div>

      <ion-button color="medium" expand="full" fill="solid" (click)="getMore()" [hidden]="(skip+50) >= totalCount || loading">
        <ion-icon style="transform: scale(2);" name="arrow-dropdown"></ion-icon>
      </ion-button>
  </ion-list>

</ion-content>
<expense-fab-component></expense-fab-component>