<ion-header>
  <ion-toolbar color="dummy-to-envoke-style" style="color:white;background-color:#9370DB;">
      <ion-buttons slot="start">
          <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
    <ion-title>{{category.name}} ({{totalCount}})</ion-title>
    <ion-button fill="clear" slot="end" (click)="presentFilterModal()">
      <ion-icon name="funnel" style="font-size:200%;color:white;"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- ERROR -->
    <!-- @TODO MAKE THIS A COMPONENT FOR ALL PAGES -->
    <div [hidden]="!errorDisplay" padding>
        <ion-card-header style="text-align:center;">
          <ion-card-title style="color:gray;">{{errorDisplay}}</ion-card-title>
        </ion-card-header>
        <ion-item lines="none" style="color:gray;border:solid 1px gray;padding:15px 5px 15px 5px;border-radius: 5px;">
          <ion-button slot="start" color="tertiary" size="default" (click)="tryAgain()">Try Again</ion-button>
          There was an issue getting data from the servers. Many things could cause this including an internet disconnect. 
          <br><br>Please try again but if the issue persists email us at supportme@pupmoney.com.
        </ion-item>
      </div>

      <!-- LOADING -->
      <!-- @TODO MAKE THIS A COMPONENT FOR ALL PAGES -->
      <div [hidden]="!loading" style="margin-top:100px;">
        <ion-card-header style="text-align:center;">
          <ion-card-subtitle style="font-size:x-large;">Loading please wait...</ion-card-subtitle>
          <ion-card-title><ion-spinner name="dots" style="transform: scale(2);"></ion-spinner></ion-card-title>
        </ion-card-header>
      </div>


  <!-- LIST -->
  <ion-list [hidden]="loading || errorDisplay">

      <error-component [error]="httpError" (tryAgainSelected)="tryAgain($event)"></error-component>
    
      <!-- LIST SUMMARY -->
      <ion-item-divider style="border-bottom:1px solid lightgrey;">
          <div slot="start" fill="clear" (click)="presentFilterModal()" 
              style="margin-left:-5px;font-size:120%;color:black;">
            {{filter.tag}}
          </div>
          <ion-label slot="end" style="font-size:120%;color:black;margin-right:24px;">{{total | number : '1.2-2'}}</ion-label>
      </ion-item-divider>
      
      <div style="background-color:#9370DB;text-align:center;color:white;padding:4px 2px 4px 2px;" 
          *ngIf="filter.range.startDisplay">
        {{filter.range.startDisplay}} - {{filter.range.endDisplay}}
      </div>
      <div style="background-color:#9370DB;text-align:center;color:white;border-top:solid 1px white;padding:4px 2px 4px 2px;" 
          *ngIf="filter.search.toggle">
        Search: {{filter.search.text}}
      </div>

      <ion-button color="medium" expand="full" fill="solid" (click)="getLess()" [hidden]="skip == 0">
        <ion-icon style="transform: scale(2);" name="arrow-dropup"></ion-icon>
      </ion-button>


      <ion-item-sliding *ngFor="let item of expenses; index as i;">
        <ion-item [routerLink]="[]" detail>
          <!--ion-icon slot="start" class="icon" name="{{item.icon}}"></ion-icon-->
          <span slot="start">{{i+skip+1}}</span>
          <ion-label class="name">{{item.vendor}} - {{item.id}}
            <br><span class="dttm">{{item.dttm}}</span>
            <br><span class="dttm">{{item.note}}</span> 
          </ion-label>

          
          <!--  https://angular.io/api/common/CurrencyPipe -->
          <!-- https://stackoverflow.com/questions/38477970/what-are-the-parameters-for-the-number-pipe-angular-2 -->
          <ion-label class="amt">{{item.amt | number : '1.2-2'}}</ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option style="width:75px;">Edit</ion-item-option>
          <ion-item-option style="width:75px;" color="danger" (click)="presentDeleteModal(item)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-button color="medium" expand="full" fill="solid" (click)="getMore()" [hidden]="(skip+50) >= totalCount">
        <ion-icon style="transform: scale(2);" name="arrow-dropdown"></ion-icon>
      </ion-button>
  </ion-list>


  

    <!-- USING a tab button to match the root tab bar -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-tab-button tab="tab2">
        <ion-icon name="add-circle" style="color:#9370DB;font-size:500%;"></ion-icon>
      </ion-tab-button>
    </ion-fab>
</ion-content>
