<ion-header>
    <ion-toolbar style="color:white;">
        <ion-buttons slot="start">

            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
      <ion-title>Subscription</ion-title>
    </ion-toolbar>
  </ion-header>






  
  <ion-content [hidden]="!user" padding style="color:dimgray;font-family:arial;">
      
    <ion-list>

      <ion-item style="color:black;">
          <ion-label>Expiration Date</ion-label>
          {{user.sub_expires | date }}
      </ion-item>
    </ion-list>



    <ion-card [hidden]="canPay" style="margin-top:20px;border-radius:15px; border:1px solid gray;box-shadow: 9px 9px;">
        <ion-item text-wrap>
            <ion-label text-wrap>Your good until {{user.sub_expires | date }}. 
              We'll let you know when it is time to renew your subscription. About seven days in advance of your expiration.</ion-label>
        </ion-item>
    
    </ion-card>


<div style="width:100%;text-align:center;">
    <ion-card [hidden]="!canPay" style="
      margin-top:20px;
      border-radius:15px;
      border:1px solid gray;box-shadow: 9px 9px;">

        <ion-card-header>
          <ion-card-subtitle style="font-size:large;">Renew now: $1.99(US) for one year.</ion-card-subtitle>
          <div style="font-size:small;">New expire date: {{newExpire | date }}</div>
        </ion-card-header>

        <ion-item style="padding-top:5px;">
          <div style="width:100%;">
            <ion-label>Card Number</ion-label>

            <ion-input type="text"></ion-input>

            <input class="input-card" type="text"/>

          </div>
        </ion-item>
      
        <ion-item >
          <div slot="start">
            <ion-label>Expires (MM/YYYY)</ion-label>
            <ion-input placeholder='MM/YY'></ion-input>
          </div>
        </ion-item>
      
        <ion-item>
            <div slot="start">
                <ion-label>CV</ion-label>
                <ion-input></ion-input>
              </div>
        </ion-item>


        <ion-item text-wrap>
              <ion-button size="medium" slot="end">Pay $1.99 Now</ion-button>

          </ion-item>

      </ion-card>
</div>





    <ion-card color="medium" style="margin-top:67px;">
        <ion-card-header>
          <ion-card-subtitle style="font-size:large;">What happens when my subscription expires?</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content style="font-size:large;">
            The only thing that stops working is the ability to add new expense records. Everything else still works.
        </ion-card-content>
      </ion-card>

  </ion-content>
  
  <!-- CLEAVE MASKING -->
  
  <!--script>
      //document.addEventListener('DOMContentLoaded', () => {
        console.log('---- HERE')
        var Cleave = require('cleave.js');

        var cleave = new Cleave('.input-card', {
            creditCard: true,
            onCreditCardTypeChanged: function (type) {
                console.log(type);
            }
        });
      //});
  </script-->

  