<ion-header>
    <ion-toolbar style="color:white;">
        <ion-buttons slot="start">

            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
      <ion-title>Subscription</ion-title>
    </ion-toolbar>
  </ion-header>






  
  <ion-content [hidden]="!user" padding style="color:dimgray;font-family:arial;">
      

    <!-- CURRENT EXPIRATION DATE -->
    <ion-list>
      <ion-item style="color:black;">
          <ion-label>Expiration Date</ion-label>
          {{user.sub_expires | date }}
      </ion-item>
    </ion-list>



    <ion-card [hidden]="canPay" style="margin-top:20px;border-radius:15px; border:1px solid gray;box-shadow: 9px 9px;">
        <ion-item text-wrap>
            <ion-label text-wrap>Your good until {{user.sub_expires | date }}. 
              We'll let you know when it is time to renew your subscription. About seven days in advance of your expiration.</ion-label>
        </ion-item>
    
    </ion-card>

    <error-component [error]="error" [showButton]="showTryAgainBtn" (tryAgainSelected)="payNow($event)"></error-component>


<div style="width:100%;text-align:center;">
    <ion-card [hidden]="!canPay" style="
      margin-top:20px;
      border-radius:15px;
      border:1px solid gray;box-shadow: 9px 9px;">

        <ion-card-header>
          <ion-card-subtitle style="font-size:large;">$1.99(US) for one year.</ion-card-subtitle>
          <div style="font-size:small;">New expire date: {{newExpire | date }}</div>
        </ion-card-header>


        <!-- CARD NUMBER -->
        <ion-item style="padding-top:5px;">
          <div slot="start">
            <ion-label style="font-size:130%;">Card Number</ion-label>

            <ion-input type="{{platformInputType}}" placeholder='use of spaces allowed' [(ngModel)]="card.number"></ion-input>

          </div>
        </ion-item>
      

        <!-- EXPIRE DATE -->
        <ion-item >
          <div slot="start">
            <ion-label style="font-size:130%;">Expires</ion-label>
            <ion-input type="{{platformInputType}}" placeholder='mm/yy' [(ngModel)]="card.expires"></ion-input>
          </div>
        </ion-item>
      
        <!-- CV -->
        <ion-item>
            <div slot="start">
                <ion-label style="font-size:130%;">CV</ion-label>
                <ion-input type="number" placeholder='back of card' [(ngModel)]="card.cv"></ion-input>
              </div>
        </ion-item>


        <ion-item text-wrap>
            <ion-button size="medium" slot="end" (click)="payNow($event)">Pay $1.99 Now</ion-button>
        </ion-item>

      </ion-card>
</div>





    <ion-card color="medium" style="margin-top:67px;">
        <ion-card-header>
          <ion-card-subtitle style="font-size:large;">What happens when my subscription expires?</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content style="font-size:large;">
            The only thing that stops working is the ability to add new expense records. Everything else still works.
        </ion-card-content>
      </ion-card>

  </ion-content>
  


  